<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-fr28u9s.QLDSV.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-FR28U9S;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
        <add name="desktop-fr28u9s\server_04.QLDSV.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-FR28U9S\SERVER_04;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
    </connectionStrings>
</configuration>